Repository tnglf1337/media-picker: changes, and which Jenkins stages are due for each by the changed paths.
All: Build frontend project..., Build frontend Docker Image..., Build backend project..., Build backend Docker Image...

Jenkinsfile:

pipeline {
    agent any
    environment {
        PATH = "/usr/local/bin:/opt/homebrew/bin:${env.PATH}"
        DOCKER_CREDENTIALS = credentials('dockerhub-credentials')
    }
    stages {
        stage('Build frontend project...') {
            when {
                changeset "frontend/**"
            }

            steps {
                dir('frontend') {
                    bat 'npm install'
                    bat 'npm run build'
                }
            }
        }

        stage('Build frontend Docker Image...') {
            when {
                changeset "frontend/**"
            }
            steps {
                dir('frontend') {
                    bat "docker login --username ${env.DOCKER_CREDENTIALS_USR} --password ${env.DOCKER_CREDENTIALS_PSW}"
                    bat 'docker build -t tneskedev/media-picker-frontend:latest .'
                    bat 'docker push tneskedev/media-picker-frontend:latest'
                }
            }
        }

        stage('Build backend project...') {
                    when {
                        changeset "backend/**"
                    }

                    steps {
                        dir('backend') {
                            bat 'npm install'
                            bat 'npm run build'
                        }
                    }
                }

                stage('Build backend Docker Image...') {
                    when {
                        changeset "backend/**"
                    }
                    steps {
                        dir('backend') {
                            bat "docker login --username ${env.DOCKER_CREDENTIALS_USR} --password ${env.DOCKER_CREDENTIALS_PSW}"
                            bat 'docker build -t tneskedev/media-picker-backend:latest .'
                            bat 'docker push tneskedev/media-picker-backend:latest'
                        }
                    }
                }
    }
}

Update Jenkinsfile
  Jenkinsfile
Due: none

Create application.prod.yaml and .dev.yaml
  backend/src/main/resources/application.dev.yaml
  backend/src/main/resources/application.prod.yaml
Due: Build backend project..., Build backend Docker Image...

Update config
  backend/src/main/resources/application.yaml
Due: Build backend project..., Build backend Docker Image...

Update Dockerfile
  backend/Dockerfile
Due: Build backend project..., Build backend Docker Image...

Update filenames
  backend/src/main/resources/application-dev.yaml
  backend/src/main/resources/application-prod.yaml
Due: Build backend project..., Build backend Docker Image...

Create environment files
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Due: Build frontend project..., Build frontend Docker Image...

update files
  frontend/package-lock.json
  frontend/package.json
Due: Build frontend project..., Build frontend Docker Image...

update files
  frontend/angular.json
Due: Build frontend project..., Build frontend Docker Image...

update files
  backend/src/main/resources/application-prod.yaml
  frontend/package-lock.json
Due: Build frontend project..., Build frontend Docker Image..., Build backend project..., Build backend Docker Image...

Add gitignore
  .gitignore
Due: none

Update gitignore
  backend/.gitignore
Due: Build backend project..., Build backend Docker Image...

Update files
  Jenkinsfile
  backend/src/main/resources/application-dev.yaml
  backend/src/main/resources/application-prod.yaml
  docker-compose.yaml
Due: Build backend project..., Build backend Docker Image...

Update file
  Jenkinsfile
Due: none

Update files
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  docker-compose.yaml
Due: Build backend project..., Build backend Docker Image...

Update file
  backend/src/main/resources/application-prod.yaml
Due: Build backend project..., Build backend Docker Image...

Update file
  frontend/src/app/service/api.service.ts
Due: Build frontend project..., Build frontend Docker Image...

Update files
  frontend/Dockerfile
  frontend/src/environments/environment.prod.ts
Due: Build frontend project..., Build frontend Docker Image...

Update files
  frontend/src/environments/environment.ts
Due: Build frontend project..., Build frontend Docker Image...

Update file
  frontend/src/index.html
Due: Build frontend project..., Build frontend Docker Image...

Update file
  docker-compose.yaml
Due: none

Update file
  frontend/src/environments/environment.ts
Due: Build frontend project..., Build frontend Docker Image...

Update file
  backend/src/main/java/com/mediapicker/web/MediathekController.java
  backend/src/main/java/com/mediapicker/web/MediumErstellenController.java
Due: Build backend project..., Build backend Docker Image...

Update files
  Jenkinsfile
  backend/src/main/java/com/mediapicker/web/MediathekController.java
  backend/src/main/java/com/mediapicker/web/MediumErstellenController.java
  frontend/src/app/service/api.service.ts
Due: Build frontend project..., Build frontend Docker Image..., Build backend project..., Build backend Docker Image...

Update files
  frontend/src/app/service/api.service.ts
Due: Build frontend project..., Build frontend Docker Image...

Update files
  backend/src/main/java/com/mediapicker/web/MediathekController.java
  backend/src/main/java/com/mediapicker/web/MediumErstellenController.java
Due: Build backend project..., Build backend Docker Image...
